# Gradle
.gradle
build
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea
*.iml
*.ipr
*.iws
.classpath
.externalToolBuilders/
.project
.settings/

# Node/npm
scripts/node_modules/*
docs/node_modules/

# Misc
*~
\#*\#
#*
.#*


