name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Build with Gradle
        run: ./gradlew clean build
# snapshot
      - name: Setting snapshot
        run: |
          TIME=$(TZ="Europe/Oslo" date +%Y.%m.%d-%H.%M)
          COMMIT=$(git rev-parse --short=12 HEAD)
          VERSION="1.$TIME-$COMMIT-SNAPSHOT"
          echo "Setting version $VERSION"
          sed -i "s/version = '.*'/version = '$VERSION'/" build.gradle
      - name: Release Gradle package
        env:
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          GPG_KEYS: ${{ secrets.GPG_KEYS }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: |
          export GPG_TTY=$(tty) && echo -e "$GPG_KEYS" | gpg --fast-import --batch
          ./gradlew -Prelease publishToSonatype closeAndReleaseSonatypeStagingRepository -x test
