name: Build and release

on:
  workflow_dispatch:

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - name: Build with Gradle
        run: ./gradlew clean build
      - name: Setting version
        run: |
          TIME=$(TZ="Europe/Oslo" date +%Y.%m.%d-%H.%M)
          COMMIT=$(git rev-parse --short=12 HEAD)
          VERSION="1.$TIME-$COMMIT"
          echo "Setting version $VERSION"
          sed -i "s/version = \".*\"/version = \"$VERSION\"/" build.gradle.kts
      - name: Release Gradle package
        env:
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          GPG_KEYS: ${{ secrets.GPG_KEYS }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: |
          export GPG_TTY=$(tty) && echo -e "$GPG_KEYS" | gpg --fast-import --batch
          ./gradlew -Prelease publishToSonatype closeAndReleaseSonatypeStagingRepository -x test
