name: 'Build and release package in Github Packages'

on:
  workflow_run:
    workflows: ['Build Code']
    branches:
      - main
    types:
      - completed
  workflow_dispatch:

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
#
#      - name: 'Build with Gradle'
#        run: ./gradlew clean build

      - name: 'Setting version'
        run: |
          TIME=$(TZ="Europe/Oslo" date +%Y.%m.%d-%H.%M)
          COMMIT=$(git rev-parse --short=12 HEAD)
          VERSION="1.$TIME-$COMMIT"
          echo "Setting version $VERSION"
          sed -i "s/version = \".*\"/version = \"$VERSION\"/" build.gradle.kts

      - name: Gradle wrapper validation
        uses: gradle/wrapper-validation-action@v3

      - name: 'Publish package'
        run: ./gradlew -Pversion="$(echo $VERSION)" build publish
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
